<div class="pv5 ph3 bg-center cover" style="background-image: url('{{.image}}')">
  <div class="mw7 center ph3">
    <div class="db mb3">
      <div class="mw7 relative bg-fix-primary mb3">
        <h1 class="f2 f1-m b di lh-title mb3 white mw6 bg-primary">
          {{.title}}
        </h1>
      </div>
      <div class="mw7 relative bg-fix-primary">
        {{ if .subtitle }}
        <h3 class="b f4 f3-m di lh-title mb3 white mw6 bg-primary">
          {{.subtitle}}
        </h3>
        {{ end }}
      </div>
    </div>
  </div>
</div>
<div class="mw8 f6 pa2">
  {{if .imagecredit}}
  <p>{{.imagecredit | markdownify}}</p>
  {{end}}
</div>
