<nav class="divider-grey flex">
	<label for="show-menu" class="show-menu">Show Menu</label>
<input type="checkbox" id="show-menu" role="button">
	<a href="/" class="">
		<p>Guzheng 筝 Alive</p>
	</a>
	<ul id="menu">
	        <li><a href="#">Home</a></li>
	        <li>
	            <a href="#">About ￬</a>
	            <ul class="hidden">
	                <li><a href="#">Who We Are</a></li>
	                <li><a href="#">What We Do</a></li>
	            </ul>
	        </li>
	        <li>
	            <a href="#">Portfolio ￬</a>
	            <ul class="hidden">
	                <li><a href="#">Photography</a></li>
	                <li><a href="#">Web & User Interface Design</a></li>
	                <li><a href="#">Illustration</a></li>
	            </ul>
	        </li>
	        <li><a href="#">News</a></li>
	        <li><a href="#">Contact</a></li>
	    </ul>
	</nav>

<!-->
BAsed on code from:
https://medialoot.com/blog/how-to-create-a-responsive-navigation-menu-using-only-css/


pa3 db mr4 h-100 w3
overflow-x-scroll overflow-x-visible-ns
 justify-between items-center center bg-white
 relative flex
	<ul class="flex b grey-3">
		<li><a href="/products" class="pa3 no-underline db">Origin</a></li>

		<li><a href="/values" class="pa3 no-underline db">Tuning</a></li>

		<li><a href="/post" class="pa3 no-underline db">The Basics</a></li>

		<li><a href="/contact" class="pa3 no-underline db">Buying</a></li>

		<li><a href="/products" class="pa3 no-underline db">Care and Maintenance</a></li>

		<li><a href="/values" class="pa3 no-underline db">Accesories</a></li>

		<li><a href="/post" class="pa3 no-underline db">Theory</a></li>

		<li><a href="/contact" class="pa3 no-underline db">Music</a></li>

		<li><a href="/post" class="pa3 no-underline db">Community</a></li>

		<li><a href="/contact" class="pa3 no-underline db">Types</a></li>

		<li><a href="/contact" class="pa3 no-underline db">How It's Made</a></li>

		<li><a href="/post" class="pa3 no-underline db">About</a></li>

		<li><a href="/contact" class="pa3 no-underline db">References</a></li>
	</ul>
</!-->
<!-->
<div id="supernav" class="flex-none">
<div id="nav1" class="flex">
<div class="dropdown">
        <div class="folderItem">History</div>
        <div class="dropdownLinks">
        <ul>
          <li><a href="/guzheng-in-90-seconds">Guzheng in 90 Seconds</a></li>
          <li><a href="/guzheng-timelines">Timelines</a></li>
          <li><a href="/guzheng-history">The Story of Guzheng's Long History</a></li>
        </ul>
      </div>
      </div>
      <div class="dropdown">
        <div class="folderItem">Basics</div>
        <div class="dropdownLinks">
        <ul>
          <li><a href="#">Where to Start</a></li>
          <li><a href="/teachers">Teachers</a></li>
          <li><a href="/cypher-notation">Read Sheet Music and Cypher Notation</a></li>
          <li><a href="/guzheng-techniques">Finger Techniques</a></li>
          <li><a href="/guzheng-terminology">Parts and Terms</a></li>
        </ul>
      </div>
    </div>
      <div class="dropdown">
        <div class="folderItem">Tuning</div>
      <div class="dropdownLinks">
        <ul>
					<li><a href="/guzheng-tuning">21 String</a></li>
					<li><a href="/tuning-16-18-23-26">16, 18, 23, 26 String</a></li>
					<li><a href="/tuning-butterfly-multitonic-zheng">Butterfly, Multitonic</a></li>
					<li><a href="/tune-guzheng-diatonic">Diatonic</a></li>
					<li><a href="/keys">Change Keys</a></li>
					<li><a href="/construct-scales">Construct Scales</a></li>
        </ul>
      </div>
      </div>
          <div class="dropdown">
            <div class="folderItem">Buying</div>
            <div class="dropdownLinks">
            <ul>
              <li><a href="/cost-of-ownership">Cost of Ownership</a></li>
              <li><a href="/buy-new">New</a></li>
              <li><a href="/buy-used-guzheng">Used</a></li>
              <li><a href="/guzheng-stores">Stores</a></li>
              <li><a href="/guzheng-pricing-tiers">Pricing Tiers</a></li>
            </ul>
          </div>
      </div>
      <div class="dropdown">
        <div class="folderItem">Care</div>
      <div class="dropdownLinks">
        <ul>
              <li><a href="/guzheng-care">Clean and Maintain</a></li>
              <li><a href="/shipping-guzheng">Mail and Ship</a></li>
        </ul>
      </div>
      </div>
          <div class="dropdown">
            <div class="folderItem">Accesories</div>
            <div class="dropdownLinks">
            <ul>
              <li><a href="/finger-picks">Fingerpicks</a></li>
              <li><a href="/pick-materials">Fingerpick Materials</a></li>
              <li><a href="/identify-turtle-shell">Identifying Turtle Shell</a></li>
              <li><a href="/strings">Strings</a></li>
							<li><a href="#">Stands</a></li>
							<li><a href="#">Cases</a></li>
              <li><a href="#">Tuners</a></li>
							<li><a href="/reviews">Reviews</a></li>
            </ul>
          </div>
        </div>
				</div>

	<div id="nav2" class="flex">
            <div class="dropdown">
              <div class="folderItem">Theory</div>
              <div class="dropdownLinks">
              <ul>
                <li><a href="/mother-tunes-and-music-theory">Mother Tunes and Music Theory</a></li>
              </ul>
            </div>
          </div>

<div class="dropdown">
<div class="folderItem">Music</div>
<div class="dropdownLinks">
<ul>
<li><a href="/guzheng-sheet-music-sources">Find Sheet Music</a></li>
  <li><a href="/guzheng-repertoire">Repertoire</a></li>
  <li><a href="/new-album-releases">New Album Releases</a></li>
  <li><a href="/guzheng-music-examples">Examples</a></li>
  <li><a href="/guzheng-schools-and-styles">Schools and Styles</a></li>
  <li><a href="/what-is-a-guzheng-school">What is a Guzheng School</a></li>
  <li><a href="/write-sheet-music">Sheet Music Tools</a></li>
</ul>
</div>
</div>
  <div class="dropdown">
    <div class="folderItem">Community</div>
    <div class="dropdownLinks">
    <ul>
			<li><a href="/artists">Artists</a></li>
			<li><a href="/guzheng-bands">Bands</a></li>
			<li><a href="/blogs-and-private-works">Blogs</a></li>
			<li><a href="/guzheng-experts">Experts</a></li>
			<li><a href="http://guzhengforum.com/">GuzhengForum.com</a></li>
			<li><a href="/guzheng-stores">Stores</a></li>
			<li><a href="/teachers">Teachers</a></li>
    </ul>
  </div>
	</div>
	<div class="dropdown">
    <div class="folderItem">Types</div>
    <div class="dropdownLinks">
    <ul>
      <li><a href="/guzhengs-styles">Guzheng Styles</a></li>
      <li><a href="/similar-instruments">Similar Instruments from Around the World</a></li>
      <li><a href="/virtual-instruments">Virtual Instruments and Software</a></li>
    </ul>
  </div>
	</div>  <div class="dropdown">
	    <div class="folderItem">How it's Made</div>
	    <div class="dropdownLinks">
	    <ul>
	      <li><a href="/how-to-make-guzheng">How to Make</a></li>
	      <li><a href="https://3dwarehouse.sketchup.com/embed.html?mid=da50a2fd-5695-4540-9626-9f4800c9b1fc">3D Model</a></li>
	      <li><a href="/guzheng-woods">Woods Used</a></li>
	      <li><a href="/notes-on-wood-drying">Wood Drying</a></li>
	      <li><a href="/import-issues-cites">Legal Issues</a></li>
	      <li><a href="/string-tension">String Tension</a></li>
	    </ul>
	  </div>
		</div>
		<div class="dropdown">
			<div class="folderItem">About</div>
			<div class="dropdownLinks">
			<ul>
				  <li><a href="/about-gza">About Guzheng Alive</a></li>
				  <li><a href="/contact">Contact</a></li>
				  <li><a href="/change-log">Change Log</a></li>
				  <li><a href="/digitizing-scores">Digitizing Scores</a></li>
				  <li><a href="/project-reach">Project Reach</a></li>
				  <li><a href="/research-tools">Research Tools</a></li>
				  <li><a href="/sitemap-historic">Sitemap</a></li>
					<li><a href="/special-thanks">Special Thank You</a></li>
			</ul>
		</div>
		</div>
		<div class="dropdown">
			<div class="folderItem">References</div>
			<div class="dropdownLinks">
			<ul>
				<li><a href="/bibliography">Bibliography</a></li>
				<li><a href="/sources">Descriptions</a></li>
				<li><a href="/further-reading">Further Reading</a></li>
				<li><a href="/glossary">Glossary</a></li>
				<li><a href="/imagery-and-figures">List of Figures</a></li>
				<li><a href="/general-mentions">Minor Mentions</a></li>
			</ul>
		</div>
		</div>
		</div>
		</div>
</nav>
</!-->
