

<!--Pneed another field for each image to create anchors-->
{{ range .sections}}
<div class="pv4 mw8 center">
	<div class="ph3">

		<div class="mhn2-l">
					{{ $anchortarget := replaceRE " " "" .heading }}
				<h2 class="f2 b lh-title mb2 " id="{{$anchortarget}}">{{.heading}}</h2>

{{ if .text }}				<p>{{.text | markdownify}}</p> {{end}}
</div>

    {{if .lightbox}}
<div class="mhn2-ns mb3 flex">
          {{ range .lightbox }}
            <a class="lightbox db mb3" href="#{{.target}}">
               <img src="{{.image}}" class="w-90"/>
            </a>
<div>
					  <div class="lightbox-target" id="{{.target}}">
               <img src="{{.image}}"/>
							 </div>
							 <p>{{.caption}}</p> <!-- Placing caption here allows caption to align with lightbox image bottom. -->
						 </div>
						 <a class="lightbox-close" href="#{{$anchortarget}}"></a> <!--Placing close here prevents weird caption placement. -->
          {{ end }}
  </div>
    {{end}}

	</div>
</div>
{{end}}
