

<!--No exposed Captions, not meant to. Also may need another field for each image to create anchors.-->
{{ range .sections}}
<div class="pv4 mw8 center">
	<div class="ph3">

		<div class="mhn2-m">
					{{ $anchortarget := replaceRE " " "" .heading }}
				<h2 class="f2 b lh-title mb2" id="{{$anchortarget}}">{{.heading}}</h2>
{{ if .text }}				<p>{{.text | markdownify}}</p> {{end}}
</div>

    {{if .lightbox}}
<div class="mhn2-ns mb3 flex-ns flex-wrap">
	{{ range .lightbox}}
		<a class="lightbox db mb3 w-30-ns" href="#{{.target}}" id="{{.target}}2">
			 <img src="{{.image}}" class="w-90"/>
		<p class="tc imgcaption f6 of-e flex-none w-90">{{.caption | markdownify}}</p>
		</a>
		<div class="lightbox-target" id="{{.target}}">
			<p class="mw6 mw7-ns">{{.caption | markdownify}}</p>
			 <img src="{{.image}}"/>
			 <a class="lightbox-close" href="#{{.target}}2"></a>

		 </div>
{{end}}
  </div>
    {{end}}
		{{ if .textbelow }}				<p>{{.text | markdownify}}</p> {{end}}
		{{ if .videos }}
			{{ range $element := .videos }}
				{{ partial "youtube-embed" $element }}
			{{end}}
			{{end}}
	</div>
</div>
{{end}}
