{{ define "main" }}

{{ partial "jumbotron" (dict "image" "/img/guzheng-styles.jpg" "title" "Reviews" "image_credit" "Caption here" ) }}

<div class="mw8 center">
  <p>
    The goal of these reviews is to help the community decide what they want to buy. Each review is based on my time with the actual items. I do my best to be objective but, ultimately, these reviews should be considered the personal opinion of just one person. If there are parts that I miss or details you think I should call out, please feel free to email me with suggestions.<br />
    Most of these products can be purchased from online retailers such as Ebay, Amazon, Alibaba, and Taobao. Links are provided to the original producer of the items when possible. There is no financial connection between Guzheng Alive and any of these companies or sellers, nor does clicking on links provide Guzheng Alive with any money. This is all just for the community’s information.<br />
    Have any products you would like me to review? Send me requests through the email form at the bottom of the page!
  </p>
  <ul class="">
      {{ range .Pages.GroupByParam "group" }}
      <h2 class="f3">{{ .Key }}</h2>
      <div class="mhn1-ns pa3">
      {{ range .Pages.ByParam "order" }}
          <div class="w-90-ns ph1-ns">
            {{ .Render "li-imagery"}}
          </div>
      {{ end }}
      </div>
      {{ end }}
  </ul>
</div>

{{end}}
