{{ define "main" }}

{{ partial "jumbotron" (dict "image" "/img/guzheng-styles.jpg" "title" "Reviews" "image_credit" "Caption here" ) }}

<div class="mw8 center">
  <ul class="">
      {{ range .Pages.GroupByParam "type" }}
      <h2 class="f3">{{ .Key }}</h2>
      <div class="flex-ns flex-wrap mhn1-ns pa3">
      {{ range .Pages.ByTitle }}
          <div class="w-50-ns ph1-ns flex">
            <a href="{{ .Permalink }}" class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100">
            	<h3 class="f4 b lh-title mb1 primary">{{ .title }}</h3>
            	{{ if .image }}<img src="{{ .image }}" alt="{{ .title }}" />{{ end }}
            </a>
        </div>
      {{ end }}
      </div>
      {{ end }}
  </ul>
</div>

{{end}}
