{{ define "main" }}

{{ partial "jumbotron" (dict "image" "/img/guzheng-styles.jpg" "title" "Guzheng Styles" "image_credit" "Caption here" ) }}

<div class="mw8 center">
  <ul class="">
      {{ range .Pages.GroupByParam "section" }}
      <h2 class="f3">{{ .Key }}</h2>
      <div class="flex-m flex-wrap mhn1-m pa3">
      {{ range .Pages.ByParam "order" }}
          <div class="w-50-m ph1-m flex">
            {{ .Render "li-imagery"}}
          </div>
      {{ end }}
      </div>
      {{ end }}
  </ul>
</div>

{{end}}
