{{ define "main" }}
{{ partial "jumbotron" .Params }}
<div class="tc ph3">
{{ partial "jump-to-menu" .Params.sections }}
{{ partial "jump-to-menu" .Params.sections2 }}
{{ partial "jump-to-menu" .Params.blinds }}
</div>
	{{ range $element := .Params.sections }}
		{{ partial "basic-sections" $element }}
	{{end}}
	{{ partial "pre-modern-timeline" .Params}}
	{{ range $element := .Params.sections2 }}
		{{ partial "basic-sections" $element }}
	{{end}}
  {{ partial "modern-timeline" .Params}}
	{{ partial "collapsible-blind" .Params}}

{{ end }}
